.a{
padding-right:65%; 
padding-left: 5%;
font-size: 20px !important;	
font-family: Berlin Sans FB;
color:#F7A833 !important;

	 }
	 .color{
	 	color: white !important;
	 }
	 .navback{
/*opacity: 0.2;*/
color: white !important;
	background:inherit !important;
	 }
.first{	background-position:50% 50%; 

	background-image: url(ba.jpg);
	background-size: cover;
	/*padding: 13% 10% 10% 9%;*/
	color: white;
}
.fcfr{
	padding-top: 15%;
}
.fh1{
		text-shadow:5px 5px 8px black; 
		font-family: Kozuka Mincho Pro H;
}
.fr{
	padding: 7% 2% 7% 9%;
}
.fbtn{
	margin-top: 8%;
	border-radius: 40% !important; 
}
.scfr{
border-radius: 5%;
padding: 0% 5% 5% 15%;}
.fifr{
width: 65%;
margin-left: 15%;
margin-top: 5%;
/*padding-left:15 %;
*/}
.sec{
text-align: center;
padding: 10% 20% 6% 20%;
background-color: #F4C44C;
}
.go{
width: 30%
}
.apple{
width: 30%;
}
.sh1{
	margin-top: 13%;
	margin-bottom: 5%;
	font-size: 80px;
	font-family: Kozuka Mincho Pr6N H;
}
.th1{
	font-size: 50px;
}
.third{
	padding-top: 8%;
	padding-bottom: 5%;
}
.fthrid{
	text-align: center;
}
.sr{
	margin-top:5%;
}
.scsr{
	margin-left: -3%;
}
.c1{
	text-align: center;
	margin-top: 15%;

}
.th5{
margin-top: 5%;
font-size: 25PX;
}
.four{
	background-image: url("bg-cta.jpg");
	background-size: cover;
	padding: 15% 0% 15% 5%;
	font-weight: bold;
	background-position:50% 50%; 

}
.foh1{
	color: white;
	font-size: 80px;
		text-shadow:1px 5px 8px black; 
}
.sbtn{
		margin-top:2%;
	border-radius: 40% !important; 
	color: white !important;
	border-color: white !important;
}
.twitter{
background-color: #0080FF;
color: white;
padding: 2.25% 2.25% 2.25% 2.25%;
border-radius: 50%;
margin: 1% 1% 1% 1%;
}
.face{background-color: #00376F;
color: white;
padding: 2.5% 3% 2.5% 3%;
border-radius: 50%;
margin: 1% 1% 1% 0%;
}

.go1{
	background-color: #DD4B39;
color: white;
padding: 2% 2% 2% 2%;
border-radius: 50%;
margin:  1% 1% 1% 0%;
}
.end{padding: 2% 0% 0.5% 0% !important;
	text-align: center;
	background-color: #1C2733;
	color: white;
	font-size: 13px !important;
}